@tailwind base; 
@tailwind components;
@tailwind utilities;

*{
    margin : 0;
    padding:0;
    box-sizing : border-box;
}


/*
body {
background-image : url('./assets/background.jpg');
background-repeat : no-repeat;
background-size: cover;
background-attachment: fixed;
}*/



@layer base {
    h3{
        @apply  text-3xl font-bold text-darkGrayishBlue md:text-4xl
    }
    h5{
        @apply  text-2xl font-bold text-lightBlue md:text-3xl
    }
    *{
        @apply font-merryWeather
    }
    li {
        @apply font-merryWeather text-xl text-white md:text-2xl
    }
}

.blog-icons{
    @apply hover:scale-110 cursor-pointer
}

.p-ellipse{
    @apply  overflow-hidden max-w-[30rem]
  
   }
